In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

In [6]:
cars_df2 = pd.read_csv("cars_details_merges.csv")

In [13]:
cars_df2[['Max Power', 'Max Torque']].head(5)

          Max Power       Max Torque
0  58.16bhp@6200rpm     77Nm@3500rpm
1   58.2bhp@6000rpm     78Nm@3500rpm
2   86.7bhp@6000rpm    109Nm@4500rpm
3   58.2bhp@6200rpm     77Nm@3500rpm
4  86.63bhp@5500rpm  121.5nm@4200rpm

In [10]:

def converst_to_number(x, conv: str = 'float'):
    x = str(x)
    new_str = ''
    is_dec = True
    for a in x:
        if 48 <= ord(a) <= 57:
            new_str += a
            continue
        elif a == ',' or a == '_':
            continue
        elif a == '.' and is_dec:
            new_str += a
            is_dec = False
        else:
            break
    
    if new_str == '':
        return None
    
    if conv == 'int':
        return int(new_str)
    
    return float(new_str)

def get_begin_number(x):
    return converst_to_number(x, 'int')


def get_begin_float(x):
    return converst_to_number(x, 'float')


def get_rpm_average(x):
    x = str(x)
    if '-' in x:
        p1 = get_begin_float(x.split('-')[0])
        p2 = get_begin_float(x.split('-')[1])
        if p1 is None:
            return p2
        if p2 is None:
            return p1
        
        return (p1 + p2)/2
    else:
        return get_begin_float(x)



cars_df2['Max Power Delivered'] = cars_df2['Max Power'].str.split('@').str[0].apply(get_begin_float).astype(float)
cars_df2['Max Power At'] = cars_df2['Max Power'].str.split('@').str[1].apply(get_begin_float).astype(float)


cars_df2['Max Torque Delivered'] = cars_df2['Max Torque'].str.split('@').str[0].apply(get_begin_float).astype(float)
cars_df2['Max Torque At'] = cars_df2['Max Torque'].str.split('@').str[1].apply(get_rpm_average).astype(float)


cars_df2.to_csv('cars_details_merges1.csv', index=False)

In [14]:
cars_df2[['Max Power Delivered','Max Torque Delivered', 'Max Power At', 'Max Torque At']].head(5)

   Max Power Delivered  Max Torque Delivered  Max Power At  Max Torque At
0                58.16                  77.0        6200.0         3500.0
1                58.20                  78.0        6000.0         3500.0
2                86.70                 109.0        6000.0         4500.0
3                58.20                  77.0        6200.0         3500.0
4                86.63                 121.5        5500.0         4200.0